<svelte:head>
  <title>Let's map!</title>
</svelte:head>

<div ref:map>
  <MapboxGL {accessToken} center={[2.333333, 48.866667]} zoom={9} geolocateControl={true} navigationControl={true} scaleControl={true} />
</div>

<style>
  ref:map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
</style>

<script>
  import { mapboxAccessToken } from "../config.js"
  export default {
    components: {
      MapboxGL: "../components/MapboxGL.html"
    },
    helpers: { accessToken: mapboxAccessToken }
  }
</script>