<div ref:root></div>

<style>
  ref:root {
    height: 100%;
  }
</style>

<script>
  import "mapbox-gl/dist/mapbox-gl.css"
  export default {
    async onupdate({ current }) {
      const { default: mapboxgl } = await import("mapbox-gl")

      const { accessToken } = current
      mapboxgl.accessToken = accessToken

      const mapOptions = { ...current }
      delete mapOptions.accessToken
      delete mapOptions.geolocateControl
      delete mapOptions.navigationControl
      delete mapOptions.scaleControl

      const { geolocateControl: geolocateControlOptions } = current
      const { navigationControl: navigationControlOptions } = current
      const { scaleControl: scaleControlOptions } = current

      const map = new mapboxgl.Map({
        container: this.refs.root,
        ...mapOptions,
        style: mapOptions.style || "mapbox://styles/mapbox/streets-v11"
      })

      if (geolocateControlOptions) {
        const geolocateControl = map.addControl(new mapboxgl.GeolocateControl(geolocateControlOptions))
      }
      if (navigationControlOptions) {
        const navigationControl = map.addControl(new mapboxgl.NavigationControl(navigationControlOptions))
      }
      if (scaleControlOptions) {
        const scaleControl = map.addControl(new mapboxgl.ScaleControl(scaleControlOptions))
      }
    }
  }
</script>